## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [3]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [5]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

In [6]:
total_gt_45

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
20          53
24          50
27          50
31          54
35          48
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
72          50
77          53
78          66
81          55
88          50
89          63
93          56

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [7]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [8]:
# 2 - Quantidade de eliminados
df_eliminados.count()

Qt_acertos    23
dtype: int64

In [9]:
# 3 Qual a média desses alunos em história e geografia?
df_eliminados_copy = df_eliminados.copy()

In [10]:
df_eliminados_copy['media_his'] = 0
df_eliminados_copy['media_geo'] = 0
df_eliminados_copy

    Qt_acertos  media_his  media_geo
3           32          0          0
6           29          0          0
10          31          0          0
12          42          0          0
14          31          0          0
20          53          0          0
25          27          0          0
26          40          0          0
27          50          0          0
33          39          0          0
35          48          0          0
49          19          0          0
56          39          0          0
65          24          0          0
66          31          0          0
72          50          0          0
73          37          0          0
74          39          0          0
84          26          0          0
89          63          0          0
92          40          0          0
94          25          0          0
98          40          0          0

In [12]:
# 3 Qual a média desses alunos em história e geografia?
df_eliminados_copy['media_his'] = df_his
df_eliminados_copy['media_geo'] = df_geo
df_eliminados_copy

    Qt_acertos  media_his  media_geo
3           32          0          3
6           29          5          7
10          31          1          3
12          42          1          3
14          31          1          1
20          53          6          6
25          27          0          7
26          40          7          6
27          50          7          1
33          39          6          0
35          48          3          6
49          19          1          1
56          39          6          7
65          24          3          2
66          31          3          3
72          50          7          3
73          37          3          2
74          39          5          0
84          26          1          0
89          63          6          7
92          40          1          1
94          25          1          2
98          40          5          3

In [29]:
# 4 Monte um DataFrame com os alunos que passaram para a segunda fase. 
# Repare que estes alunos não podem ter sido desqualificados.

#df_passaram_segunda_fase = total[(total['Qt_acertos'] > 45) & ((df_mat['Qt_acertos'] > 0) | (df_fis['Qt_acertos'] > 0) | (df_qui['Qt_acertos'] > 0))]
df_passaram_segunda_fase = total[(total['Qt_acertos'] > 45) & (df_mat['Qt_acertos'] > 0) & (df_fis['Qt_acertos'] > 0) & (df_qui['Qt_acertos'] > 0)]


df_passaram_segunda_fase

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
24          50
31          54
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
77          53
78          66
81          55
88          50
93          56

In [30]:
df_passaram_segunda_fase.count()

Qt_acertos    26
dtype: int64

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [36]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-b3fa6d03-6625-4d34-a06d-401ffe55f3c5.c000.csv'

In [37]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

C:\Users\Laerte\AppData\Local\Temp\ipykernel_16156\2145173094.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo, sep=';')

In [38]:
df.head(6)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,0e5413c0-a480-4cba-a374-bfac376948fd-i0b0,ec15a3c2d88e2b86c81e9097244dce1c18256541ae6498...,32.0,1989-05-31,F,3.0,PARDA,120042.0,10.0,RODRIGUES ALVES,...,2.0,Faixa Etária,210110,SINOVAC/BUTANTAN,Organization/152,2022-03-14,Reforço,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
1,f641bbf2-341e-4876-b969-2ba7b83f2e86-i0b0,592f330fcbc5736c203b31b538c00dedbe44103f26cb82...,78.0,1943-09-30,F,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,3.0,Pessoas de 60 anos ou mais institucionalizadas,21OVCD317W,ASTRAZENECA/FIOCRUZ,149,2022-06-09,2º Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,2d17757b-b192-435c-a9a4-6c94a50dadf0-i0b0,260a21be44b3192a85c58878645455ac64c919ea5d3d4f...,1.0,2021-01-21,F,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,210290,Pendente Identifica??o,NaN,2022-07-12,1ª Dose,55,HepAinf,ESUS APS - NACIONAL (OFFLINE)
3,f656adaf-0137-4510-b0e4-81ff314bf8e3-i0b0,9035c60c9fe3e70e29a2612dfeaee665c0a0c369f82d04...,17.0,2004-04-08,F,1.0,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-10,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,34ee0692-f3ed-4832-9efb-c09addb3d072-i0b0,b7868dce6f96333f4b4bad655fe701864e4f404b1b1801...,39.0,1981-11-15,F,99.0,SEM INFORMACAO,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,FD7207,PFIZER,Organization/00394544000851,2021-08-23,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
5,f67bf910-9165-4b65-948c-b12ba80a71de-i0b0,1d17948e8d1450ca9dfcaf5cb97a4891f41e091da40735...,58.0,1963-02-07,M,4.0,AMARELA,120045.0,10.0,SENADOR GUIOMARD,...,2.0,Faixa Etária,214VCD056W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-06-19,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578946 entries, 0 to 578945
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               578946 non-null  object
 1   paciente_id                               578945 non-null  object
 2   paciente_idade                            578945 non-null  float64
 3   paciente_dataNascimento                   578945 non-null  object
 4   paciente_enumSexoBiologico                578945 non-null  object
 5   paciente_racaCor_codigo                   578945 non-null  float64
 6   paciente_racaCor_valor                    578945 non-null  object
 7   paciente_endereco_coIbgeMunicipio         575328 non-null  object
 8   paciente_endereco_coPais                  575335 non-null  object
 9   paciente_endereco_nmMunicipio             575334 non-null  object
 10  paciente_endereco_nmPais                  575335 non-null  object
 11  paciente_endereco_uf                      575328 non-null  object
 12  paciente_endereco_cep                     520201 non-null  object
 13  paciente_nacionalidade_enumNacionalidade  578749 non-null  object
 14  estabelecimento_valor                     578946 non-null  int64
 15  estabelecimento_razaoSocial               578946 non-null  object
 16  estalecimento_noFantasia                  578946 non-null  object
 17  estabelecimento_municipio_codigo          578946 non-null  int64
 18  estabelecimento_municipio_nome            578946 non-null  object
 19  estabelecimento_uf                        578946 non-null  object
 20  vacina_grupoAtendimento_codigo            530250 non-null  float64
 21  vacina_grupoAtendimento_nome              530059 non-null  object
 22  vacina_categoria_codigo                   502916 non-null  float64
 23  vacina_categoria_nome                     502916 non-null  object
 24  vacina_lote                               578946 non-null  object
 25  vacina_fabricante_nome                    578946 non-null  object
 26  vacina_fabricante_referencia              527671 non-null  object
 27  vacina_dataAplicacao                      578946 non-null  object
 28  vacina_descricao_dose                     578946 non-null  object
 29  vacina_codigo                             578946 non-null  int64
 30  vacina_nome                               578946 non-null  object
 31  sistema_origem                            578946 non-null  object
dtypes: float64(4), int64(3), object(25)
memory usage: 141.3+ MB

In [39]:
df.shape[0]

578946

In [40]:
# 2) 
df['paciente_id'].nunique()

430234

In [41]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

88737

In [42]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

88737

In [43]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

92661

In [46]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

65

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [47]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [48]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [49]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Faixa Etária                                      49972
Outros                                             5947
Povos Indígenas                                    1730
Povos e Comunidades Tradicionais                    505
Trabalhadores de Saúde                              394
População Privada de Liberdade                       66
Comorbidades                                         48
Gestantes                                            28
Pessoas com Deficiência                               3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [53]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [54]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(222, 6)

In [55]:
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
2,2000830,PREFEITURA MUNICIPAL DE RIO BRANCO,URAP AUGUSTO HIDALGO DE LIMA,120040,RIO BRANCO,AC
3,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
10,2001039,PREFEITURA MUNICIPAL DE CAPIXABA,UNIDADE DE SAUDE DA FAMILIA DR LUIZ FERNANDO M...,120017,CAPIXABA,AC
16,5354072,PREFEITURA MUNICIPAL DE JORDAO,UNIDADE DE SAUDE DA FAMILIA ANTONIO RODRIGUES ...,120032,JORDAO,AC
17,2000105,PREFEITURA MUNICIPAL DE MANCIO LIMA,U S F QUINTINO RIO BRANCO LEBRE,120033,MANCIO LIMA,AC
...,...,...,...,...,...,...
264169,2002779,MUNICIPIO DE RIO BRANCO,USF SEBASTIANA PRADO ZONA RURAL,120040,RIO BRANCO,AC
325369,6525946,SECRETARIA MUNICIPAL DE SAUDE DE JORDAO,SECRETARIA MUNICIPAL DE SAUDE DE JORDAO,120032,JORDAO,AC
377461,9830464,MUNICIPIO DE BRASILEIA,ESF ANTONIO CORREIA DA CRUZ,120010,BRASILEIA,AC
556149,6192084,PREFEITURA MUNICIPAL DE CAPIXABA,UNIDADE DE SAUDE DA FAMILIA RAIMUNDO RODRIGUES...,120017,CAPIXABA,AC
578056,469548,PREFEITURA MUNICIAPAL DE BRASILEIA,NUCLEO MUNICIPAL DO PROGRAMA NACIONAL DE IMUNI...,120010,BRASILEIA,AC